@import '../../scss/setting/style.scss';

.dashboard {
    margin: 100px;

    .icon {
        cursor: pointer;
    }
    .editUser {
        margin-top: 24px;
    }
    .updateUser {

    }
    .form--edit {
        gap: 14px;
        display: flex;
        justify-content: center;
        margin-top: 80px;

    }
    .input--edituser {
        // gap: 14px;

    }

    .form--update {
        display: flex;
        margin-top: 24px;
    }
    .form--adduser {
        display:inline-flex;
        justify-content: space-between;
        gap: 14px;
        margin-top: 24px;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }
    .button--update {
        display: flex;
        justify-content: space-between;
        
    }
}